*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

:root {
  --main-color: #fff;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1919;
  color: var(--main-color);
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
}

.button {
  border: 1px solid currentColor;
  background-color: transparent;
  color: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  font-family: inherit;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid;
  outline-offset: 1px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 70px 1px 0;
}

.result__video-container {
  position: relative;
  display: inline-block;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.result__video:focus {
  outline: none;
}

.result__video:focus-visible {
  outline: 1px solid;
  outline-offset: 0;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__fieldset-title {
  margin-left: 1px;
  font-weight: 400;
  font-style: normal;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid;
  outline-offset: 1px;
}

@supports not selector(:has(:focus-visible)) {
  /* Firefox 117.0 on macOS and maybe others */

  .search-form__label:focus-within {
    outline: 1px solid;
    outline-offset: 1px;
  }
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1.5px;
}

.search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.search-form__textfield {
  border-width: 1px;
  border-style: solid none;
  border-color: currentColor;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  appearance: none;
  min-inline-size: 225px;
}

.search-form__textfield:focus-visible {
  outline: 1px solid;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: 1px solid;
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  margin-right: 5px;
  border: 1px solid;
  background-color: transparent;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__label:active .search-form__pseudo-checkbox {
  padding: 1px;
  background-color: var(--main-color);
  background-clip: content-box;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  padding: 1px;
  background-color: var(--main-color);
  background-clip: content-box;
}

.search-form__submit-button {
  align-self: end;
  padding: 5px 73px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin: 0 0 7px;
  inline-size: 399px;
}

.title {
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  font-family: Oswald, sans-serif;
  line-height: 90%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  overflow: auto;
  block-size: 303px;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: inherit;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1.5px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid;
  outline-offset: 0;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 194px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__video-card-title {
  margin-top: 6px;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-style: normal;
  font-size: 17.55px;
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 95%;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  padding: 2px 0;
  inline-size: 100%;
  block-size: 100%;
}

.more-button {
  margin-bottom: 2px;
  padding: 5px 143px;
}
